<b>Impressum</b><br>
<br>
<b><i>Anbieter: </i></b><br>
<br>
Max Mustermann<br>
Musterstraße 12<br>
12345 Berlin<br>
<br>
<b><i>Kontakt:</i></b><br>
<br>
Telefon: 030/12345678<br>
Telefax: 030/12345679<br>
e-Mail: e-Mail@mustermann.de<br>
Website: www.mustermann.de<br>
<br>
<b><i>Verantwortlich nach § 6 Abs.2 MDStV</i></b><br>
<br>
Paul Schreiber<br>
Redakteur „Hardware und Software“ <br>
Ahornallee 1 <br>
12345 Berlin<br>
<br>
Registergericht: AG Berlin<br>
HRB-Nummer: 54321<br>
Umsatzsteueridentifikationsnummer: 123456789<br>
Nennung des vertretungsberechtigten Geschäftsführer einer GmbH<p>
Quelle:
<a href="http://www.suchmaschinen-online.de/muster-impressum.htm" target="_blank">
http://www.suchmaschinen-online.de/muster-impressum.htm </a></p>