<section class="box_container">
<section class="content">
<h2>Einloggen</h2>
<p>Geben sie hier ihre Anmeldeinformationen ein, um sich einzuloggen</p>

<form action="/login" method="post" accept-charset="utf-8">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Passwort:<br>
<input type="password" name="password"></p>
<p><button type="submit">Einloggen</button></p>
</form>
</section>
</section>

<section class="box_container">
<section class="content">
<h2>Noch keinen Account?</h2>
<p>Legen sie hier ihren kostenlosen Cloud.blog-Account an. So können sie einfach und schnell ihren eigenen Blog erstellen</p>
<p><form action="/register" method="get"><button type="submit">Account erstellen</button></form></p>
</section>
</section>