<h1 class="headline">Home</h1>

<section class="content_box">
	<h1>Ihre Blog-URI:</h1>
	
	<input type="text" value="<%=blog_uri(@user.blog.id) %>" class="blog_uri_input" onfocus="this.select()" readonly>
</section>