<form action="/register" method="post" accept-charset="utf-8">
	<p>Username:<br>
	<input type="text" name="username"></p>
	<p>E-Mail:<br>
	<input type="email" name="email"></p>
	<p>Passwort:<br>
	<input type="password" name="password1"></p>
	<p>Password wiederholen:<br>
	<input type="password" name="password2"></p>
	<p>&nbsp;</p>
	<p><button type="submit">Registrieren</button></p>
</form>