<table>
	<tr>
		<td>ID:</td>
		<td><%= @user.id.to_s %></td>
	</tr><tr>
		<td>Name:</td>
		<td><%= @user.name %></td>
	</tr><tr>
		<td>E-Mail:</td>
		<td><%= @user.email %></td>
	</tr><tr>
		<td>Created_at:</td>
		<td><%= @user.created_at.to_s %></td>
	</tr>
</table>